:root {
    --text: #1e1e1e;
    --bg: #d5d0ca;
}

body {
    font-family: monospace;
    background-color: var(--bg);
    color: var(--text);
    margin: 30px;
    text-align: center;
}

h1 {
    font-family: lores-21-serif, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(20px, 15vw, 80px);
    margin:30px;
    max-width:80vw;
    overflow: scroll;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #d5d0ca;
        --bg: #1e1e1e;
    }
}

a {
    display: inline-block;
    transition: transform 0.2s ease;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    transform: translateY(-1px);
}

p {
    text-align: start;
    max-width: 600px;
    margin: 0 auto;
}

p + p {
    margin-top: 10px;
}
