:root {
    --text: #1e1e1e;
    --bg: #fff;
}

body {
    font-family: monospace;
    background-color: var(--bg);
    color: var(--text);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --bg: #1e1e1e;
    }
}
